.footer-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;

    background-image: linear-gradient(to bottom, #ffffff, #ebe9f1, #d9d3e2, #c9bcd3, #bba6c2, #b59cba, #af93b3, #a989ab, #a989ab, #a989ab, #a989ab, #a989ab);
}

.footer-container .ft {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ft-left,
.ft-center,
.ft-right {
    /* border: 1px solid red; */
    width: 100%;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.ft-left .left-img {
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
}

.left-img img {
    width: 100%;
    height: 100%;
}

.fl-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fl-text p {
    font-size: 13px;
    font-weight: 500;
    padding: 0;
    margin: 5px;
    width: 70%;
}

.ft-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.ft-center span,
.ft-right span {
    font-weight: bold;
}

.list-box {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
}

.list-box a {
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: var(--color-text-bold);
    font-size: 14px;
}

.ft-right .text {
    /* border: 1px solid red; */
    margin-top: 20px;
}

.text p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--color-text-bold);
    font-size: 14px;
}

.fb {
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid var(--color-text-accent);
}

.fb p {
    font-size: 12px;
    opacity: 0.7;
}