.hero-container {
    width: 100%;
    height: 100vh;
    background-image:
        radial-gradient(rgba(210, 122, 40, 0.26) 1px,
            transparent 1px),
        linear-gradient(to right bottom, #e4adf1, #e5bef7, #e7cefb, #ebddfe, #f2ecff, #f2ecff, #f2ecff, #f2ecff, #ebddfe, #e7cefb, #e5bef7, #e4adf1);

    position: relative;
    overflow: hidden;
    /* background-size: 22px 22px, cover; */
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* =======================
HERO-LEFT
======================= */
.hc-left {
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hc-left-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hc-left-text .title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title button {
    padding: 7px 15px;
    border: 1px solid var(--color-text-accent);
    border-radius: 16px;
    background-color: #fff;
    color: var(--color-text-accent);

    font-weight: bold;
    font-size: 12px;
    box-shadow: var(--basic-shadow);
}

.hc-left-text h1 {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    color: var(--color-text-bold);
    text-shadow: var(--basic-shadow);
}

.hc-left-text p {
    width: 100%;
    text-align: left;
    word-spacing: 5px;
    font-size: 13px;
    font-weight: 500;
    color: var(--color-text-bold);
    opacity: 0.7;
}

.hc-left-text span {
    color: var(--color-accent);
}

.hc-left-btn {
    margin-top: 20px;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hc-left-btn a {
    text-decoration: none;
    width: 100%;
}

.hc-left-btn .btn-active {
    background-color: var(--color-text-accent);
    border: 1px solid var(--color-text-accent);
    border-radius: 8px;
    width: 100%;

    padding: 15px 20px;
    color: #fff;

    cursor: pointer;
    font-weight: bold;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.hc-left-btn .btn-primary {
    background-color: #fff;
    border: 1px solid var(--color-text-accent);
    border-radius: 8px;
    width: 100%;

    padding: 15px 20px;
    color: var(--color-text-accent);

    cursor: pointer;
    font-weight: bold;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.hc-left-btn .btn-active:hover,
.hc-left-btn .btn-primary:hover {
    box-shadow: var(--md-shadow);
}

.hc-left-btn .btn-primary:hover {
    background-color: var(--color-text-accent);
    color: white;
}

.btn-icon {
    font-size: 18px;
}

/* =======================
HERO RIGHT
======================= */

.hc-right {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hc-img {
    width: 600px;
    height: 60vh;
}

.hc-img img {
    width: 100%;
    height: 100%;
}